/*Cor do texto #c052eb
 Cor do background #280536
 font do google fonts font-family: 'Orbitron', sans-serif
*/

*{
    padding: 0;
    margin: 0;
    
}
/*Menu*/
body{
    background: #280536;
}
.menu{
    width: 100vw;
    background: #280536;
    
}
.container-menu{
    max-width: 100vw;
    display: flex;
    padding: 0 30px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.menu-item ul{
    display: flex;
    list-style: none;
 
 }
.menu ul li a{
    display: block;
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    padding: 31px 0 ;
    margin: 10px ;
    text-decoration: none;
    color: #c052eb;
    border-bottom: 3px solid #280536;
}
.menu ul li a:hover {
  border-bottom: 3px solid #c052eb;
  
}
.menu-item li{
    display: block;
}
/*onde seria a logo que é meu nome*/
.logo{
    padding: 15px 0;
}
.logo > h1{
    color:white;
    font-size: 2.25em;
    font-family: 'Orbitron', sans-serif;
    text-shadow: -1px 2px 4px #c052eb;
}
.logo > h2{
    color:white;
    font-size: 2.25em;
    font-family: 'Orbitron', sans-serif;
    text-shadow: -1px 2px 4px #c052eb;
}


/*card de contato com a area da foto e imagem de fundo principal*/

.sobre-container{
    max-width: 100vw;
}

.img-principal{
    
    width: 100vw;
    background-size: cover;
    position: absolute;
}
.sobre-container-int{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0 auto;
    padding-top: 140px;

    
   
}
.desc-sobre{
    display: flex;
    flex-direction: column;
    background: rgba(40,5,54, 0.5);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 30px 30px;
    font-style: italic;
    text-shadow: -1px 2px 4px #c052eb;
    font-family: sans-serif;
    
}
.desc-sobre h3{
    color: white;
    font-size: 2em;
    text-align: center;
   
}
.desc-sobre p{
    color: white;
    font-size: 1.5em;
    text-align: center;
   

}
.email{
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-top: 20px;
}
.email a{
    text-decoration: none;
    color: white;
    margin-left: 6px;
}
.fone{
    display: flex;
    align-items: center;

    margin-top: 10px;
}
.fone h4{
    color: white;
    margin-left: 6px;
   
}
.redes-sociais{
    display: flex;
    align-items: center;
    margin-left: 6px;
    
    
}
.redes-sociais-itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
     color: white;
    
}


.foto-edu{
    
    border-radius: 50%;
}
/*Fim*/


/*Area onde possui uma imagem e uma descrição,
Padronizando div heigth de 31.25em*/
.container-descricao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 270px;
    max-width: 100vw;
    height: 31.25em;
    border: 1px solid red;
    position: relative;
}
.img-desen{
    width: 40em;
    height: 26.5em;
    border: 2px solid yellow;
}

.sobre-mim{
    width: 40em;
    height: 26.5em;
    border: 2px solid yellow;
    font-family: sans-serif;
    font-style: italic;
}
.sobre-mim h2,p{ 
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    margin-left: 20px;
    color: white;
    text-align: center;
   
    
}
/*Fim*/

/*Aqui vai os estilos da parte onde mostra meus projetos*/
.container-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    max-width: 100vw;
    height: 31.25em;
    border: 1px solid red;
    position: relative;
}
.slide-projetos{
    width: 40em;
    height: 26.5em;
    border: 2px solid yellow;
}

.slide-descricao{
    width: 40em;
    height: 26.5em;
    border: 2px solid yellow;
}
.exp-linguagem{
    margin-top: 20px;
    max-width: 100vw;
    height: 18.75em;
    border: 1px solid red;
    color: white;
}
/*Parte final do site onde fica os contatos*/

.container-contatos{
    display: flex;
    
    align-items: center;
    margin-top: 20px;
    max-width: 100vw;
    height: 31.25em;
    border: 1px solid red;
    position: relative; 
    
}
.contatos-redes-sociais{
    width: 95vw;
    height: 26.5em;
    border: 2px solid yellow;
    margin: 15px;
   
}
.form-contatos{
   
    width: 95vw;
    height: 26.5em;
    border: 2px solid yellow;
    margin: 15px;
   

} 

 
 input{
     width: 25em;
 }
 
 