/*Cor padrão #6c63ff*, cor do botão rgb(43, 43, 131)
, font Redressed*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Redressed', cursive;
    letter-spacing: 3px;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
   
/*Imagem do topo do site */
.container-topo{
   
    width: 100vw;
    position: static;
    height: 350px;
    border: 1px solid green;

    
    
}
h1{
    text-align: center;
    font-size: 36px;
    font-family:serif;
    font-style: italic;
    text-shadow: 1px 2px 2px white;
    margin-top: -220px;
}

/*Fim*/
/*Conteudo do input do simulador*/
.container-simulador{
    display: flex;
    justify-content: center;
    margin-top: -110px;
    border: 1px solid blueviolet;
    
}

.simulador{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background: #6c63ff;
    color: white;
    height: 73vh;
    width: 28vw;
    border-radius: 8px;
    box-shadow: -3px 4px 4px  rgb(43, 43, 131);
}
img{
   
    width: 50vw;
    
}
input{
    display: flex; 
    border-style: none;
    width: 220px;
    height: 23px;
    border-radius: 6px;
    margin: 0 auto;
}
#nump{
    width: 150px;
    margin: 0 auto;
}
/*Retira as setas do input type number*/
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

.btn{
    display: flex;
    flex-direction: column;
    border-style: none;
    background: rgb(43, 43, 131);
    color: white;
    width: 220px ;
    height: 23px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    
    
}
h2{
   margin-top: 10px;
    text-align: center;
    
}
h3{

    width: 20vw;
    text-align: center;
    padding-top: 10px;
   
    
}
p{
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 4px;
    font-size: 18px;
}
#resultado{
    width: 300px;
    height: 150px;
    margin: 15px auto;
    background: rgb(43, 43, 131);
}
