/*Cor padrão #6c63ff*, cor do botão rgb(43, 43, 131)
, font Redressed*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Redressed', cursive;
    letter-spacing: 3px;
}
.container{
    display: flex;
    flex-direction: column;
}
   
/*Imagem do topo do site*/    
.container-topo{
   
    width: 100vw;
    position: absolute;
    height: 350px;
    
    
}
h1{
    text-align: center;
    font-size: 36px;
    font-family:serif;
    font-style: italic;
    text-shadow: 1px 2px 2px white;
    margin-top: -220px;
}

/*Fim*/
.container-simulador{
    display: flex;
    justify-content: center;
    margin-top: 230px;
    
}

.simulador{
    display: flex;
    flex-direction: column;
    
    margin-left: 100px;
    background: #6c63ff;
    color: white;
    height: 73vh;
    width: 28vw;
    border-radius: 8px;
    box-shadow: -3px 4px 4px  rgb(43, 43, 131);

    
    
}



img{
    float: right;
    width: 50vw;
    
}
input{
    display: flex;
  
   left: 80px;    
    border-style: none;
    width: 220px;
    height: 23px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
   
    
}
/*Retira as setas do input type number*/
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}
#num{
    margin-top: 15px;
    width: 250px;
    height: 30px;
}
button{
    display: flex;
    flex-direction: column;
    border-style: none;
    background: rgb(43, 43, 131);
    color: white;
    width: 220px ;
    height: 23px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    
    
}
h2{
   margin-top: 10px;
    text-align: center;
    
}
h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 45px;
    width: 20vw;
   
    
}
p{
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 4px;
    font-size: 18px;
}

