/*----------Projeto clone Amozon prime--------------
Cores: #19232e 
       #0f79af
       #
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    background:  #19232e ;
    height: 85px;
}
.logo {
   
    display: flex;
    padding-left: 40px;
    
}
.menu-nav {
    
    padding-left: 20px;
    
   
}
ul {
    display: flex;
}
 li {
    color: white;
    list-style: none;
    margin: 5px;
    font-size: 15px;
}
.cat {
    font-size: 16px;
    font-weight: bold;
}
.bt-menu {
    margin-right: 70px;
    width: 380px;
    display: flex;
    align-items: center;
  
   
}
.menu-nav .bi {
    color: white;
    margin-top: 8px;
    
}
.bt-menu .bi{
    margin-bottom: 8px;
    padding: 3px;
    margin-top: 8px;
    color: white;
    
}
.pt {
    font-size: 13px;
    margin-left: 3px;
}

.bi-search {
    margin-right: 20px;
    margin-bottom: 12px;
}
.bt-menu-nav {
    width: 200px;
    height: 35px;
    background: #0f79af;
    color: white;
    border: 1px solid #0f79af;
    border-radius: 3px;
    margin-right: 15px;
}
span {
    color: white;
}
/*Area do conteudo principal*/

.img-principal{
    max-width: 100vw;
    
}
.img-principal img {
    width: 100vw;
    position: relative;
}
.conteudo-principal {
    max-width: 40%;
    height: 600px;
    position: absolute;
    top: 140px;
    margin-left: 70px;
    color: white;
    
}
.txt-principal h1 {
    font-size: 36px;
    font-weight: 300;
}
.txt-principal h2 {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4em;
    margin-top: 20px;
}
.btns-principal {
    margin-top: 50px;
}
.bt01 {
    width: 250px;
    height: 45px;
    background: #0f79af;
    color: white;
    border: 1px solid #0f79af;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 8px;
}
.bt02 {
    width: 250px;
    height: 65px;
    background: #0f79af;
    color: white;
    border: 1px solid #0f79af;
    border-radius: 3px;
    padding: 5px;
    margin-top: 18px;
}
.btns-principal p {
    font-size: 15px;
    font-weight: 300;
    
}
.btns-principal h3 {
    font-size: 15px;
    font-weight: 300;
    margin-top: 40px;
}